.menu {
    padding: 10px;
    width: 100%;
    margin-right: 10px;
    border-radius: 6px;
}

.menu-items {
    display: flex;
    height: 50px;
    border-radius: 6px;
    margin-bottom: 5px;
    align-items: center;
    cursor: pointer;
    background: rgb(74, 71, 129);
    background: linear-gradient(90deg, rgba(74, 71, 129, 1) 0%, rgba(61, 91, 83, 0.6845588577227766) 100%, rgba(0, 212, 255, 1) 100%);
}

.menu-items:hover {
    background: cadetblue;
    -webkit-box-shadow: 0px 0px 8px 7px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 0px 8px 7px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 0px 8px 7px rgba(34, 60, 80, 0.2) inset;
    opacity: 0.8;
    color: burlywood;
}

.menu-image {
    width: 30px;
    height: 40px;
}

.menu-name {
    margin: 5px 0 0 10px;
}

.menu-price {
    margin: 5px 0 0 10px;
}

.menu-info > p {
    font-size: 15px;
}